@import "tailwindcss";

:root {
  --bg: whitesmoke;
  --textColor: black;
  --color-background: var(--bg);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
}
h1 {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 0;
    padding: 0;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding: 0;
}
::-webkit-scrollbar {
  display: none;
}